<a href="https://colab.research.google.com/github/sebsters/stats-AT/blob/main/stats_AT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statistics Exercises

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [26]:
import sys
print(f"python {sys.version[:7]} pandas {pd.__version__} numpy {np.__version__} seaborn {sns.__version__} ")

python 3.7.12  pandas 1.1.5 numpy 1.19.5 seaborn 0.11.2

## Probability Theory

In [35]:
url = "https://raw.githubusercontent.com/sebsters/stats-AT/main/data/tips.csv"
df = pd.read_csv(url)
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4